<div class="body-content">
  <div class="crud-content">
    <button kendoButton (click)="onEditBook()">Add Book</button>
    <app-create-book [isActive]="isActive" class="text-create"></app-create-book>
    <div class="search-field">
      <form [formGroup]="searchForm">
        <kendo-formfield>
          <kendo-textbox formControlName="searchString" #searchString required></kendo-textbox>
          <button kendoButton (click)="onSearch()">Search</button>
        </kendo-formfield>
      </form>
    </div>
  </div>
  <div class="table-content">
    <kendo-grid [kendoGridBinding]="gridView" (edit)="editHandler($event)" (remove)="removeHandler($event)">
      <kendo-grid-column field="bookId" title="ID">
      </kendo-grid-column>
      <kendo-grid-column field="bookName" title="Book Name">
      </kendo-grid-column>
      <kendo-grid-column field="bookType" title="Book Type">
      </kendo-grid-column>
      <kendo-grid-column field="description" title="Description">
      </kendo-grid-column>

      <kendo-grid-command-column title="Edit">
        <ng-template kendoGridCellTemplate>
          <!-- <button kendoGridEditCommand class="k-primary" routerLink="/editbook/{{idUpDel}}">Edit</button> -->
          <button kendoGridEditCommand (click)="onEditBook()" class="k-primary">Edit</button>
          <button kendoGridRemoveCommand (click)="onDeleteBook()">Remove</button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
    <kendo-datapager [style.width.%]="100" [pageSize]="pagingModel.pageSize" [skip]="pagingModel.skip"
      [total]="pagingModel.totalCount" (pageSizeChange)="onPageSizeChange($event)" (pageChange)="onPageChange($event)">
    </kendo-datapager>
  </div>
</div>
<router-outlet></router-outlet>