<router-outlet>
    <div class="example-wrap">
        <form class="k-form col-md-6" [formGroup]="registerForm" >
            <fieldset class="k-form-fieldset">
                <legend class="k-form-legend">Create book</legend>
                <kendo-formfield>
                    <kendo-label [for]="bookName" text="Book Name"></kendo-label>
                    <input formControlName="bookName" kendoTextBox #bookName required/>
      
                    <kendo-formhint>The name of book</kendo-formhint>
                    <kendo-formerror>Error: Book Name is required</kendo-formerror>
                </kendo-formfield>
                <kendo-formfield>
                  <kendo-label  text="Book Type"></kendo-label>
                  <input formControlName="bookType" kendoTextBox #bookType required/>
      
                  <kendo-formhint>The type of book</kendo-formhint>
                  <kendo-formerror>Error: Book Type is required</kendo-formerror>
              </kendo-formfield>
              <kendo-formfield>
                  <kendo-label text="Book Description"></kendo-label>
                  <input formControlName="description" kendoTextBox #bookDescription required/>
      
                  <kendo-formhint>The description of book</kendo-formhint>
                  <kendo-formerror>Error: Book description is required</kendo-formerror>
              </kendo-formfield>
      
                <div class="k-form-buttons">
                    <button class="k-button k-primary" (click)="submitForm()">Submit</button>
                    
                </div>
            </fieldset>
        </form>
      </div>
</router-outlet> 

 